#playback .background img { display:none !important; 
}
#user-rollover .info .role span { color: #EB7ABF !important 
}

.icon { 
    background-image: url('http://i.imgur.com/rulzF9X.png'); 
}
#your-active-playlist > .icon-check-purple{ 
    background: url('http://i.imgur.com/8BOvR4D.png') !important; 
    top: 15px; 
}
#user-menu .item > .icon-history-white { 
    background: url('https://i.imgur.com/EdPgEwe.png') !important; 
    top: 12px; 
}
#footer-user .item > .icon-history-white { 
    background: url('https://i.imgur.com/EdPgEwe.png') !important; 
    top: 12px; 
}
#room-bar .icon-room { 
    background-image: url('http://i.imgur.com/tXAsNSX.png') !important;  
    top: 11px;
    left: 7px;
}
#dashboard .icon-grab {  
    background: url('http://i.imgur.com/DGOLuAK.png') !important;  
}
#footer-user .info .bar .progress {
    background-color: #ffa3f7;
    border-radius: 1px 1pc;
}
#footer-user .info .meta div.bar {
    background: #555d70;
    border-radius: 1px 1pc;
}
#footer-user .info .pp {
    position: absolute;
    top: 22px;
    left: 4px;
}
.experience .xp .bar {
    border-radius: 1px 2pc;
}
.experience .xp .bar .progress {
    background: #ffa3f7;
    border-radius: 1px 2pc;
}
.user-content.profile .meta.is-staff .role span {
    color: #EB7ABF;
    top: 2px;
}
#rcs-progress-container .bar {
    background-color: #ffa3f7 !important;
}
.is-ambassador .name {
    color: #de00e6;
}
.is-admin .name {
    color: #a8009a;
}
.focused {
box-shadow: 0 0 0 0.1em #ffa3f7 inset !important;
}
#chat-input {
    border-radius: 30px;
}
::-webkit-scrollbar {
    width: 13px !important;
    background: rgba(0, 0, 0, 0.72) !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 10px rgb(255, 79, 222) !important;
    -moz-box-shadow: inset 0 0 10px rgb(255, 79, 222) !important;
    box-shadow: inset 0 0 10px rgb(255, 79, 222) !important;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important;
    -moz-box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important;
    box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important;
    border-radius: 10px !important;
}
#chat .welcome {
    color: #FAB4FF;
    text-align: center;
}
.app-right .friends .list-header .input-background,
#user-lists .list-header .input-background,
#filter-bar, 
#search-bar {
    position: absolute;
    -webkit-box-shadow: inset 0 0 0 1px #444a59;
    -moz-box-shadow: inset 0 0 0 1px #444a59;
    border-radius: 30px;
}
#playlist-create:hover,
#playlist-import:hover,
#playlist-button,
#footer-user .buttons .button.store:hover {
    background: linear-gradient(to bottom,#FA70FF 0,#F964FF 100%);
}
#vote .crowd-response {
    margin-top: 1px;
    margin-left: -1px;
}
.media-list .row.now-playing {
    height: 53px;
    border-bottom: #F500FF 2px solid!important;
    background: #FA67FF!important;
}
.media-list .row.now-playing .actions {
    background: #FA67FF!important;
}
.media-list .selected .actions,
#playlist-menu .menu .row.selected,
.media-list .row.selected {
    background: #4C234C !important;
}
#user-lists .list.staff .group span {
    color: #EB7ABF;
}
#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #EB7ABF;
}
#playlist-menu .menu .row .count {
    top: 10px;
    right: 10px;
    color: #FFA3F7;
    font-weight: bold;
}
#playlist-activate-button {
    background: #4C234C;
    border-radius: 30px 0 0 30px;
}
#chat .user-action,
.is-you .name,
#chat .from.you .un {
    color: #9E5F9E !important;
}
#chat .from.staff,
#chat .moderation, #chat .moderation .from {
    color: #FFA3F7 !important;
}
#chat .mention.is-you {
    background: linear-gradient(135deg,#9E5F9E 0,#111317 13%,#111317 100%) !important;
}
#chat .mention.is-dj, #chat .mention.is-staff {
    background: linear-gradient(135deg,#FFA3F7 0,#111317 13%,#111317 100%) !important;
}
.is-dj .name, .is-staff .name {
    color: #FFA3F7 !important;
}
.thumb {
    border: 2px solid #FA90FF;
    border-radius: 50%;
}
#chat .from.dj .un, #chat .from.staff .un {
    color:  #FFA3F7 !important;
}
#playlist-activate-button span {
    top: 4px!important;
    color: #FFA3F7 !important;
}
