#playback .background img { 
    display:none !important; 
}
#user-rollover .info .role span { 
    color: #EB7ABF !important 
}

.icon { 
    background-image: url('http://i.imgur.com/NOftlox.png'); 
}
#your-active-playlist > .icon-check-purple{ 
    background: url('http://i.imgur.com/8BOvR4D.png') !important; 
    top: 15px; 
}
#user-menu .item > .icon-history-white { 
    background: url('https://i.imgur.com/EdPgEwe.png') !important; 
    top: 12px; 
}
#footer-user .item > .icon-history-white { 
    background: url('https://i.imgur.com/EdPgEwe.png') !important; 
    top: 12px; 
}
#room-bar .icon-room { 
    background-image: url('http://i.imgur.com/tXAsNSX.png') !important;  
    top: 11px;
    left: 7px;
}
#dashboard .icon-grab {  
    background: url('http://i.imgur.com/8CGMwKZ.png') !important;  
}
#footer-user .info .bar .progress {
    background: #E646A8;
    border-radius: 1px 2pc;
    box-shadow: #E646A8 0 0 20px;
}
#footer-user .info .meta div.bar {
    background: #555d70;
    border-radius: 1px 1pc;
}
#footer-user .info .pp {
    position: absolute;
    top: 22px;
    left: 4px;
}
.experience .xp .bar {
    border-radius: 1px 2pc;
}
.experience .xp .bar .progress {
    background: #E646A8;
    border-radius: 1px 2pc;
    box-shadow: #E646A8 0 0 20px;
}
.user-content.profile .meta.is-staff .role span {
    color: #EB7ABF;
    top: 2px;
}
#rcs-progress-container .bar {
    background-color: #ffa3f7 !important;
}
.is-ambassador .name {
    color: #de00e6;
}
.is-admin .name {
    color: #a8009a;
}
.focused {
box-shadow: 0 0 0 0.1em #ffa3f7 inset !important;
}
#chat-input {
    border-radius: 30px;
}
::-webkit-scrollbar {
    width: 13px !important;
    background: rgba(0, 0, 0, 0.72) !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 10px rgb(255, 79, 222) !important;
    -moz-box-shadow: inset 0 0 10px rgb(255, 79, 222) !important;
    box-shadow: inset 0 0 10px rgb(255, 79, 222) !important;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important;
    -moz-box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important;
    box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.6) !important;
    border-radius: 10px !important;
}
#chat .welcome {
    color: #FAB4FF;
    text-align: center;
}
.app-right .friends .list-header .input-background,
#user-lists .list-header .input-background,
#filter-bar, 
#search-bar {
    position: absolute;
    -webkit-box-shadow: inset 0 0 0 1px #444a59;
    -moz-box-shadow: inset 0 0 0 1px #444a59;
    border-radius: 30px;
}
#playlist-create:hover,
#playlist-import:hover,
#playlist-button,
#footer-user .buttons .button.store:hover {
    background: linear-gradient(to bottom,#FA70FF 0,#F964FF 100%);
}
#playlist-create:hover,
#playlist-import:hover {
    background: linear-gradient(to bottom,#FA70FF 0,#F964FF 100%);
    box-shadow: #FF0000 0 0 70px inset;
}
#vote .crowd-response {
    margin-top: 1px;
    margin-left: -1px;
}
.media-list .row.now-playing {
    height: 53px;
    border-bottom: #F500FF 2px solid!important;
    background: #FA67FF!important;
}
.media-list .row.now-playing .actions {
    background: #FA67FF!important;
}
.media-list .selected .actions,
#playlist-menu .menu .row.selected,
.media-list .row.selected {
    background: #4C234C !important;
}
#user-lists .list.staff .group span {
    color: #EB7ABF;
}
#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #EB7ABF;
}
#playlist-menu .menu .row .count {
    top: 10px;
    right: 10px;
    color: #FFA3F7;
    font-weight: bold;
}
#playlist-activate-button {
    background: #4C234C;
    border-radius: 30px 0 0 30px;
}
#chat .from.staff,
#chat .moderation, #chat .moderation .from {
    color: #FFA3F7 !important;
}
#chat .mention.is-dj:not([data-cid^="9472023-"]), #chat .mention.is-staff:not([data-cid^="9472023-"]) {
    background: linear-gradient(135deg,#FFA3F7 0,#111317 13%,#111317 100%) !important;
}
.is-dj .name, .is-staff .name {
    color: #FFA3F7 !important;
}
.thumb {
    border: 2px solid #FA90FF;
    border-radius: 50%;
}
#chat .from.dj .un, #chat .from.staff .un {
    color:  #FFA3F7 !important;
}
#playlist-activate-button span {
    top: 4px!important;
    color: #FFA3F7 !important;
    font-weight: bold;
}
#user-menu .avatar {
    background-image: url('http://www.officialpsds.com/images/stocks/Dark-room-stock2998-large.png') !important;
}
#user-inventory .avatars .grid .cell.selected .top,
.user-content .grid .cell:hover>.top {
    background: linear-gradient(to bottom,#C64FDC 0,#4C324D 56%,#1a1a1a 73%,#73716d 100%);
}
#room-settings .general-settings a:hover, 
#room-settings .general-settings a:visited:hover,
.user-content.profile .meta .link .url a, 
.user-content.profile .meta .link .url a:visited,
#chat .text a:hover, 
#chat .text a:visited:hover {
    color: #FF00F4;
}
#room-settings .general-settings a, 
#room-settings .general-settings a:visited,
#chat .text a, 
#chat .text a:visited {
    color: #FFB7E9;
}
.tab-menu button.selected,
#user-menu .item.selected {
    background: rgb(121, 52, 115);
    cursor: default;
}
.favorite.selected i {
    background: url('http://i.imgur.com/8CGMwKZ.png');
}
#room-settings .general-settings .description .value {
    overflow-x: hidden;
    height: 235px;
    overflow-y: hidden;
}
#room-settings-menu .item.selected {
    background: rgb(121, 52, 115);
    cursor: default;
}
#room-settings .general-settings {
    background: url('http://i.imgur.com/FkdRmUQ.png');
    background-repeat: no-repeat;
    background-position: 350px 80px;
}
#room-bar {
    width: 500px;
    background: url('http://i.imgur.com/N780j09.png');
    background-repeat: no-repeat;
    background-position: 210px;
}
#room-settings .general-settings .option button.off {
    margin-left: 10px;
    background: #FC6CB3;
    color: #eee;
}
#room-settings .general-settings .option.enabled>button.on {
    background: #FE12AD;
    color: #eee;
}
#waitlist .list.manager .user .meta {
    border-bottom: none;
}
#chat .user-action {
    color: #AF3E9B;
}
#user-lists .list.bans .user .label, 
#user-lists .list.mutes .user .label {
    color: #EB7ABF;
}
#user-lists .list.bans .user .unban, 
#user-lists .list.mutes .user .unmute {
    color: #C800FF !important;
}
#room-settings .general-settings .value {
    max-width: 400px;
}
#room-settings .general-settings .description {
    height: 300px !important;
}
#user-inventory .badges .grid .cell.selected {
    box-shadow: inset 0 0 0 2px #F678FF;
    cursor: pointer;
}
#playlist-edit-button:hover {
    background: linear-gradient(to bottom,#FF84FF 0,#F721FF 100%);
}
#playlist-shuffle-button:hover {
    background: linear-gradient(to bottom,#FF2AEF 0,#8500B3 100%);
}
#playlist-delete-button:hover {
    background: linear-gradient(to bottom,#FF478B 0,#FF0068 100%);
}
#woot .bottom, 
#woot.selected,
.votes-rs .title.woot {
    background: #DE68EF;
}
.votes-rs .title.grab,
#grab .bottom, 
#grab.selected {
    background: #902E9E;
}
.votes-rs .title.grab,
#meh .bottom, 
#meh.selected {
    background: #52185A;
}


/* NASTAVENIA PRE ID */

/* NARCIS - BOT S IQ 6000 */
div[data-cid^="9472023-"]{
    border: 1px solid #671558;
    border-right: 0px;
    background: #420B38 !important;
    box-shadow: inset 0px 0px 20px #000;
}

div[data-cid^="9472023-"] .badge-box {
    width:35px !important;
    height:35px !important;
    margin: 5px !important;
}
div[data-cid^="9472023-"] .badge-box i {
    background: url(http://i.imgur.com/Zn21gxo.png) !important;
    width:35px !important;
    height:35px !important;
}

