#playback .background img { display:none !important; }
.icon:not(.istranslator), 
.icon:not(.icon-radiant-clearchat),
.icon:not(.icon-chat-system),
.icon:not(.icon-star-white) { background-image: url(http://vgy.me/qXRliU.png) !important;
#rcs-appright-button .icon { background: url(https://cdn.radiant.dj/rcs/icons/rcs.png) !important }
