#playback .background img { display:none !important; }
.icon:not(.istranslator), 
.icon:not(.icon-radiant-clearchat),
.icon:not(.icon-chat-system),
.icon:not(.icon-star-white) { background-image: url(https://source.nbot.eu/rcs/tessin-emo-koutek/img/icons.png);

#user-rollover .info .role span { color: #EB7ABF !important }
